body{
  margin: 0;
  padding: 0;
  background: #1c1548;
  display: flex;
  font-family: sans-serif;
  overflow-y: hidden;
}

#chat{
  width: 25vw;
  height: 100vh;
  color: #fff;
  background: #07041c;
  padding: 5px;
  position: absolute;
  right: 0;
}


p{
  background: #fff;
  color: #1c1548;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: none;
}

.pp{
 display: flex;
}

.pp img{
  width: 50px;
  height: 50px;
  margin: 10px 10px 0 10px;
  border-radius: 5px;
  border: 2px solid #fff;
}

.pp h4{
  margin-top: 40px;
  margin-bottom: 0
}

button{
  position: absolute;
  bottom: 20px;
  width: 50px;
  padding: 10px;
  margin-left: calc(13vw - 25px);
}

#labo{
  margin-left: 20px;
  width: 900px;
}

#scenep1{
  width: 900px;
}

#scenep2{
  width: 1000px;
  margin-top: -30px;
}

#scenep3{
  width: 1000px;
  margin-top: -30px;
}

#scenef1{
  width: 850px;
  margin-left: 50px;
}

.scene{
  position: absolute;
}

#persolabo{
  position: absolute;
  padding-top: 280px;
  padding-left: 140px;
  width: 40px;
  height: 60px;
  transition: .2s ease-in-out;
}

#persof1{
  position: absolute;
  padding-top: 260px;
  padding-left: 300px;
  width: 45px;
  height: 60px;
  transition: 2s ease-in-out;
}

#persop1{
  position: absolute;
  padding-top: 420px;
  padding-left: 200px;
  width: 75px;
  height: 100px;
  transition: .2s ease-in-out;
}

#persop2{
  position: absolute;
  padding-top: 120px;
  padding-left: 300px;
  width: 75px;
  height: 100px;
  transition: .2s ease-in-out;
}

#persop3{
  position: absolute;
  padding-top: 420px;
  padding-left: 650px;
  width: 75px;
  height: 100px;
  transition: .2s ease-in-out;
}

/* TEAMS */

#teams{
  flex-direction: column;
}

.choix_fraise {
border-color: #ce2c64;
color: #ce2c64;
font-weight : bold;
transition: all 0.1s;
}

.ch_cadre {
padding: 2em;
border: 5px solid;
border-radius: 10px;
flex: 1;
margin: 1em;
z-index: 1;
}

.choix_peche {
border-color:#f9a978;
color:#f9a978;
font-weight : bold;
transition: all 0.1s;
}

.choix_peche:hover {
color: white;
background:#f9a978;
border-color: white;
transition: all 0.5s;
cursor: pointer;
}

.choix_fraise:hover {
color: white;
background: #ce2c64;
border-color: white;
transition: all 0.5s;
cursor: pointer;
}

.choix_eq{
display: flex;
text-align: center;
width: 50vw;
margin: auto;
padding-left: 5%;
}
.choix_eq p{
  display: contents;
  color: white;
}

.choix_eq img{
  width: 300px;
}

h4{
  color: #fff;
}

h3{
  color: #fff;
  text-align: center;
  width: 100vw;
}

a{
  text-decoration: none;
  width: 45%;
}


/* FRAISE 1 */

#fqInput{
  position: absolute;
  height: 50px;
  margin-left: 160px;
  margin-top: 500px;
  display: flex;
}

#fqInput{
  cursor: pointer;
}

#fqInput div{
  width: 80px;
  height: 100px;
}

#fq400{
  width: 40px !important;
}

#fq550{
  width: 100px !important;
}


/* NEWS */

video{
  width: 100vw;
}

.news{
  width: 100vw;
}
